@charset "utf-8";

/* 訓練辦理成效-圖表1 */

body {
    font-family: "微軟正黑體";
}

#chart_div {
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 850px;
    height: 640px;
    border: #CCC 1px solid;
    margin: auto;
}

#main {
    float: left;
    width: 750px;
}

#sidebar {
    float: right;
    width: 100px;
}

#sequence {
    width: 750px;
    height: 40px;
}

#legend {
    padding: 10px 0 0 0;
    text-align: center;
}

#sequence text,
#legend text {
    font-weight: 600;
    fill: #fff;
    font-size: 1.2em;
}

#chart {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 225px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
}

#percentage {
    font-size: 3.5em;
}

#name,
#class_type {
    font-size: 1.5em;
}


/* 圖表2 */

text.parent,
text.child {
    font-size: 15px;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

#taiwan_map {
    background-color: #fff;
    width: 850px;
    height: 700px;
    border: #CCC 1px solid;
    margin: auto;
    background: #a3ccff;
    position: relative;
}

#map_explanation {
    position: absolute;
    top: 390px;
    left: 540px;
    width: 140px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 80px;
}

#map_num_text {
    font-family: monospace;
}

#map_div {
    width: 770px;
    height: 700px;
    position: absolute;
    left: -140px;
}

#map {
    width: 770px;
    height: 700px;
}

#map path {
    stroke: #fff;
    stroke-width: 1.8;
}

#map text {
    font-weight: 600;
    fill: #000;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

#title_div {
    width: 600px;
    margin: 0px 15px;
    float: left;
    padding: 5px 0px;
    text-align: center;
}

#title_div_2 {
    width: 1000px;
    text-align: center;
    margin: auto;
    padding: 20px 0px 5px;
}

.title {
    font-size: 25pt;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

#box {
    position: absolute;
    height: 82px;
    width: 100px;
    border: 3px #000000 solid;
}

#mp_sidebar,
#mp_legend {
    height: 700px;
    width: 850px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.axis path,
.axis tick,
.axis line {
    fill: none;
    stroke: none;
}

.legendRect {
    stroke: #fff;
    stroke-width: 1.8;
}

.data_block {
    margin: 0 auto;
    display: none;
}

.tag_group {
    display: table;
    margin: 0px auto 15px;
}

.tag {
    display: inline-block;
    border: 2px solid #777;
    color: #777;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 0px 5px;
    font-weight: bold;
    cursor: pointer;
}

.tag.selected,
.tag:hover {
    background: #777;
    color: #fff;
}

#bubble_div {
    background-color: #fff;
    width: 850px;
    height: 640px;
    border: #CCC 1px solid;
    margin: auto;
    /*            background: #a3ccff;*/
    position: relative;
}

#bubble_chart text {
    font-size: 15px;
    pointer-events: none;
    font-weight: bolder;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

#bubble_data .word {
    font-size: 25px;
    padding: 10px 0;
    font-weight: bold;
    color: #444;
}

#bubble_data .count {
    float: right;
}

#bubble_data {
    width: 850px;
    margin: auto;
    position: relative;
    padding-bottom: 30px;
}

#bubble_data .table {
    display: table;
    width: 100%;
    line-height: 33px;
}

#bubble_data .tr {
    display: table-row;
}

#bubble_data .tr:hover {
    background-color: #eee;
}

#bubble_data .td {
    display: table-cell;
}

#bubble_data .td.sn {
    text-align: center;
    width: 60px;
}

#bubble_data .td.name {
    width: 300px;
}

#bubble_data .td.tel {
    width: 170px;
}

#bubble_data .table .tr:first-child {
    text-align: center;
    font-weight: bold;
    background-color: #f07f5b;
    color: #fff;
}

#window_top {
    display: table;
    bottom: 25px;
    right: 15px;
    background-color: #ccc;
    text-decoration: none;
    cursor: pointer;
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #FFF;
    z-index: 999;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#window_top:hover {
    background-color: #f07f5b;
}

#window_top span {
    color: #fff;
    font-size: 18px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.page_div {
    display: block;
    text-align: center;
    padding: 10px 0;
}

.page_div div {
    display: inline-block;
}

.page_div div.hidden {
    display: none;
}

.page_div div a {
    text-decoration: none;
    width: 65px;
    border-radius: 15px;
    background-color: #eee;
    color: #444;
    line-height: 30px;
    margin: 5px 5px;
    transition: .2s;
    display: inline-block;
    cursor: pointer;
}

.page_div div.page_list a.now_page,
.page_div div a:hover {
    background-color: #f07f5b;
    color: #fff;
}

.page_div div.page_list a {
    width: 30px;
}
